.main_payment_div{
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 20px;
}
.head_check_div{
    display: flex;
    justify-content: space-between;
}
.read_link{
    text-decoration: none;
    color: steelblue;
    font-weight: bold;
    margin-left: 8px;
}
.terms_span{
    display: inline-block;
    margin-top: 8px;
    font-size: .9em;
    color: gray;
}
.payment_cards_div{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.payment_card1,.payment_card2,.payment_card3{
    text-align: center;
    border: 1px solid gray;
    padding: 8px;
    width: 31%;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    margin-left: 5px;
}
.pay_card_div{
    margin-top: 20px;
}
.card_name{
    width: 98.5%;
    padding: 8px;
    font-size: 1em;
    border-radius: 6px;
    height: 25px;
    outline: none;
    border: 1px solid gray;
    margin-top: 20px;
}
.card_detail_div{
    display: flex;
    flex-direction: row;
}
.expiry,.CVV{
    display: inline;
    padding: 8px;
    font-size: 1em;
    border-radius: 6px;
    height: 25px;
    outline: none;
    border: 1px solid gray;
    margin-top: 10px;
    width: 80px;
    margin-left: 5px;

}
.card_number{
    width: 82.5%;
    padding: 8px;
    font-size: 1em;
    border-radius: 6px;
    height: 25px;
    outline: none;
    border: 1px solid gray;
    margin-top: 10px;
}
.pay_btn{
    margin-bottom: 20px;
    border: none;
    outline: none;
    width: 100%;
    margin-top: 10px;
    color: white;
    font-weight: bold;
    border-radius: 7px;
    padding: 10px;
    background-color: #0070C0;
}
.payment_card1>p,.payment_card2>p,.payment_card3>p{
    margin-left: 8px;
}
.payment_card_img{
    margin-top: 2px;
}

@media screen and (max-width:415px){
    .expiry,.CVV{
        width: 60px;
    }
    .card_name{
        width: 94%;
    }
}

@media screen and (max-width:350px){
    .main_payment_div{
        padding-left: 10px;
    }
    .payment_card1,.payment_card2,.payment_card3{
        padding: 5px;
        font-size: .9em;
    }
    .expiry,.CVV{
        width: 50px;
    }
}