.add_btn{
    border: none;
    outline:none ;
    padding: 8px;
    font-weight: bold;
    background-color: steelblue;
    border-radius: 8px;
   width: 80px;
   color: white;
   margin-right: 10px;

}
.cancel_btn{
    border: none;
    outline: none;
    background-color: white;
    box-shadow: 0px 0px 5px rgb(230, 224, 224);
    border-radius: 8px;
    padding: 8px;
    margin-right: 8px;
}

.select_extra_btns{
    /* border: 2px solid; */
    text-align: right;
    margin-top: 10px;

}