.main_point_div{
    display: flex;
    justify-content: space-around;
    /* border: solid 2px; */
    width: fit-content;
    /* text-align: center; */
    margin: 0px auto;
    margin-top: 50px;
}
.point_span{
    margin-left: 8px;
    font-weight: bold;
    font-size: 1em;
}
.check{
    /* color: #39B54A; */
    color: rgb(96, 196, 110) !important;

    font-size: 1.2em;
}
.point2,.point4{
    margin-top: 10px;
    
}
.points_div2{
    margin-left: 20px;
    
}
.safety_para{
    margin: 0px auto;
    /* border: solid 2px; */
    width: fit-content;
    text-align: center;
    /* color: rgb(128, 177, 55); */
    /* color: #39B54A !important; */
    color: rgb(96, 196, 110) !important;

    margin-top: 15px !important;
    font-size: 1.2em !important;
    font-weight: bold;
    
}

@media screen and (max-width:530px){
    .safety_para{
        font-size: 1.2em !important;
    }
}

@media screen and (max-width:420px){
    .safety_para{
        font-size: 1em !important;
    }
}
@media screen and (max-width:350px){
    .safety_para{
        font-size: .9em !important;
    }
}
@media screen and (max-width:375px){
    .points_div1{
        /* border:  2px solid; */
        margin-left: -15px;
    }
    .points_div2{
        margin-left: 18px;
    }
    .check{
        font-size: 1em;
    }
    .point_span{
        font-size: .8em;
    }
    
}