.main_contactnav_div{
    margin: 0px auto;
    margin-top: 60px;
    text-align: center;
    /* border: solid 2px; */
    width: 90%;
    margin-bottom: 20px;
}
.contactnav_head{
    text-align: center;
    font-size: 1.4em;

}
.conatactnav_ul{
    margin: 0px auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    list-style: none;
    /* border: 2px solid; */
    width: 60%;
    padding: 20px;
    /* text-align: center; */
    /* align-items: center; */
    /* justify-content: center; */

}
.conatactnav_ul>li{
    /* border: 2px solid; */
}
.contactnav_icon{
    font-size: 2.5em !important;
    /* color: steelblue; */
    color: #0070C0;
}


.otherContact_div{
    display: flex;
    margin-top: 10px;
    justify-content: center;
}
.othercontact_div1{
    padding: 10px;
}
.othercontact_div2{
    padding: 10px;
}
.cantact_1>span,.cantact_3>span,.cantact_4>span,.cantact_2>span{
    margin-left: 20px;
    color: gray;
}
.cantact_3,.cantact_4{
    margin-left: 20px;
    margin-top: 20px;
}
.cantact_4{
    margin-left: 40px;
}
.cantact_2,.cantact_1{
    margin-top: 20px;
}
.othercontactnav_icon{
    /* color: rgb(16, 19, 22); */
    color: #0070C0;
    font-size: 1.2em;
}

.apps_store_div{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.chatImage:hover{
    cursor: pointer;
}
.conatactnav_ul>li{
    /* border: solid 2px; */
    padding: 15px;
    box-shadow: 0px 0px 5px rgb(184, 196, 202);
    border-radius: 10px;
}

@media screen and (max-width:530px){
    .contactnav_icon{
        font-size: 2em !important;
    }
    .conatactnav_ul>li{
        padding: 10px !important;
    }
    .cantact_1>span,.cantact_3>span,.cantact_4>span,.cantact_2>span{
        font-size: .8em;
    }
    .othercontactnav_icon{
        font-size: 1em;
    }
    .conatactnav_ul{
        width: 80%;
    }
}
@media screen and (max-width:450px){
    .contactnav_icon{
        font-size: 1.7em !important;
    }
    .cantact_1>span,.cantact_3>span,.cantact_4>span,.cantact_2>span{
        /* border: 2px solid; */
        font-size: .8em;
        margin-left: 10px;
    }
    .othercontact_div1,.othercontact_div2{
        /* border: solid 2px; */
        padding: 0px;
    }
    .cantact_3{
        margin-left: 0px !important;
    }
    .cantact_4{
        margin-left: 16px;
    }
    .othercontactnav_icon{
        font-size: 1em;
    }
    .conatactnav_ul>li{
        padding: 8px !important;
    }
}
@media screen and (max-width:360px){
    .cantact_1>span,.cantact_3>span,.cantact_4>span,.cantact_2>span{
        font-size: .7em;
        margin-left: 2px;
    }
}
@media screen and (max-width:355px){
    .contactnav_icon{
        font-size: 1.6em !important;
    }
    .cantact_1>span,.cantact_3>span,.cantact_4>span,.cantact_2>span{
        font-size: .7em;
        margin-left: 5px;
    }
    .cantact_1,.cantact_2{
        margin-left: -8px;
    }
    .cantact_3,.cantact_4{
        margin-left: 3px;
    }
    .othercontactnav_icon{
        font-size: .8em;
    }
    .conatactnav_ul{
        width: 90%;
    }
}
@media screen and (max-width:330px){
    .contactnav_icon{
        font-size: 1.6em !important;
    }
    .cantact_1>span,.cantact_3>span,.cantact_4>span,.cantact_2>span{
        font-size: .64em;
        margin-left: 5px;
    }
    .cantact_3,.cantact_4{
        margin-left: -0px;
    }
    .othercontactnav_icon{
        font-size: .8em;
    }
}