.nav_container{
    background-color: white;
    position: sticky;
    top: 0px;
    z-index: 1;
    box-shadow: 0px 2px  4px rgb(209, 206, 206) ;
    height: 60px;
}
.main_nav_div{
    display: flex;
    justify-content: space-between;
    /* margin-top: 20px; */
    /* border: solid 2px; */
    width: auto;
    /* border: 2px solid; */
    padding: 10px;
    
}
.logo_img{
    margin-top: -10px;
    width: 90px;
    /* height: 40px; */
    border-radius: 30px;
    margin-left: 20px;
}
.logo_img:hover{
    cursor: pointer;
}
.ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    /* margin-right: 30px; */
    margin-top: 10px;
}
.ul>li{
    /* border: 3px solid; */
    /* padding: 20px; */
    margin-left: 20px;
}
.book{
    margin-left: 5px;
}
.book_btn_link{
    text-decoration: none;
    color: #0070C0;
}
.book_btn{
    width: 70px ;
    height: 30px;
    border:  1px #0070C0 solid;
    text-decoration: none;
    /* color: steelblue; */
    color: #0070C0;
    border-radius: 5px;
    font-weight: normal;
    background: transparent;
    outline: none;
    /* padding-bottom: 20px; */
    /* padding: 15px; */
}
.book_btn:hover{
    cursor: pointer;
}
.bar,.user{
    font-size: 1.5em !important;
    /* color: steelblue; */
    color: #0070C0;
    /* font-weight:100px !important; */
}
.nav_liii:hover{
    cursor: pointer;
}


.navlist_div{
    /* border:  2px solid; */
    width: 300px;
    position: absolute;
    right: 30px;
    top: 70% !important;
    z-index: 1;
    /* background-color: rgb(184, 187, 184); */
    background-color: white;
    /* background-color: steelblue; */
    box-shadow: 0px 0px 5px rgb(216, 219, 221);
    border-radius: 7px;
    /* color: white; */
}
.navlist_ul{
    list-style: none;
    padding: 20px;
}
.navlist_ul>li{
    margin: 15px;
}
.navlist_link{
    text-decoration: none;
    color: black;
    /* color: white; */
}
@media screen and (max-width:530px){
    .navlist_div{
        right: 30px;
    }
}
@media screen and (max-width:365px){
    .navlist_div{
        right: 30px;
        width: 250px;
        top: 90% !important;
        right: 20px;

    }
    .logo_img{
        /* width: 60px; */
    }
    .bar,.user{
        font-size: 1.2em !important;
        margin-top: 5px;
    }
    .ul>li{
        margin-left: 13px;
    }
    
}

/* .nav3{
    display: none;
}
.nav_liii:focus>.nav3{
    display: block;
} */