.main_taxis_div{
    margin-top: 30px !important;
    /* border: 2px solid; */
    
}
.taxi_card_div{
    display: flex;
    margin: 0px auto;
    margin-top: 0px;
    width: 95%;
    background-color: rgb(207, 218, 230);
    text-align: center;
    justify-content: center;
    border-radius: 10px;
}
.taxi_card1,.taxi_card2,.taxi_card3{
    margin: 20px;
    margin-left: 15%;
    /* text-align: center; */
    /* border: 2px solid; */
}
.taxi_hr{
   /* height: 40px; */
   border: 1px solid grey;
   /* text-align: center !important; */
   align-items: center;
   /* margin-top: 40px; */
   /* margin-bottom: 40px; */
   text-align: center;
   /* margin: 0px auto 0px auto; */
   vertical-align: middle !important; 
   transform: rotate(90deg);
}

.slider{
    /* border: 2px solid !important; */
    /* background-color: ; */
    background-color: rgb(210, 221, 233);

    padding: 20px;
    width: 80%;
    margin: 0px auto;
    margin-top: 20px;
    border-radius: 10px;
}


.card1,.card3{
    width: 190px;
}
.card0{
  width: 210px;
}
.card6{
    width: 250px;
}
.card2{
    width: 230px;
    /* height: 120px; */
  }
.taxi_decs{
    font-weight: bold;
    font-size: .9em;
    margin-left: -20px;
    margin-top: 10px;
    /* text-align: center; */
}
.taxi_pax{
    color: steelblue;
    font-weight: bold;
    font-size: .9em;
    margin-left: -20px;


}
@media screen and (max-width:980px){
    .taxi_card1,.taxi_card2,.taxi_card3{
        /* margin-left: 15%; */
    }
    .card1,.card3{
        width: 130px;
    }
    .card2{
        width: 150px;
    }
    .card0{
        width: 140px;
    }
    .card6{
        width: 160px;
    }
    .taxi_decs,.taxi_pax{
        font-size: .7em ;

    }
    /* .taxi_price{
        margin-top: 5px !important;
    } */
    
}
@media screen and (max-width:630px){
    .taxi_card1,.taxi_card2,.taxi_card3{
        /* margin-left: 13%; */
        /* border: 2px solid; */
        /* text-align: center; */
        height: 11vh;
    }
    .card1,.card3{
        width: 100px;
        /* text-align: center; */
    }
    .card0{
        width: 105px;
        margin-top: 5px;
    }
    .card2{
        width: 115px;
        margin-top: 5px;
    }
    .card6{
        width: 120px;
        margin-top: 10px;
    }
    .taxi_decs,.taxi_pax{
        font-size: .7em;
        margin-left: 0%;
        text-align: start;

    }
    
}
@media screen and (max-width:490px){
    .slider{
        padding: 10px;
    }

    .taxi_card1,.taxi_card2,.taxi_card3{
        margin-left: 20%;
        margin: 0px;
    }
    .card1,.card3{
        width: 80px;
        margin: 0px auto;
    }
    .card0{
        width: 80px;
        margin: 0px auto;

    }
    .card2{
        width: 85px;
        margin: 0px auto;

    }
    .card6{
        width: 90px;
        margin: 0px auto;

    }
    .taxi_decs,.taxi_pax{
        font-size: .6em;
        /* font-weight: norma; */
        margin-left: 0%;
        text-align: center;
    }
    .slider{
        width: 85%;
    }
    
}
@media screen and (max-width:380px){
    .taxi_card1,.taxi_card2,.taxi_card3{
        margin-left: 10%;
    }
    .card1,.card3{
        width: 50px;
    }
    .card2{
        width: 70px;
    }
    .card6{
        width: 70px;
    }
    .card0{
        width: 65px;
    }
    .taxi_decs,.taxi_pax{
        font-size: .6em;
        margin-left: 0%;
        text-align: center;
    }
    .slider{
        width: 82%;
    }
    
}
@media screen and (max-width:344px){
    .taxi_card1,.taxi_card2,.taxi_card3{
        margin-left: 0%;
    }
    .card1,.card3{
        width: 50px;
    }
    .card0{
        width: 60px;
    }
    .card2{
        width: 65px;
    }
    .card6{
        width: 70px;
    }
    .taxi_decs,.taxi_pax{
        font-size: .6em;
        margin-left: 0%;
        text-align: center;
    }
    .slider{
        width: 84%;
    }
    
}
@media screen and (max-width:320px){
    .card1,.card3{
        width: 50px;
    }
    .slider{
        width: 80%;
    }
    .taxi_decs,.taxi_pax{
        font-size: .5em;
    }
    
}